.aboutHeaderBg {
    padding-top: 8rem;
}

.aboutHeaderText {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.aboutHeaderImg {
    text-align: right;
}

.aboutHeaderImg.two {
    text-align: left;
}

.aboutHeaderText.two {
    justify-content: flex-end;
    text-align: right;
}

.aboutHeaderText h2 {
    margin: 0;
    font-size: 66px;
    font-family: mediumfont;
    line-height: 101px;
}

.aboutCommunityBg {
    position: relative;
    width: 100%;
    height: 662px;
    background-image: url('../../img/about/aboutCommunity.webp');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.aboutCommunityBg.background {
    background-image: url('../../img/about/background.webp');
    height: 450px;
}


.aboutCommunityOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.321); */
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.aboutCommunityContent h2 {
    color: var(--white);
    font-size: 60px;
    font-family: mediumfont;
}

.aboutCommunityContent p {
    font-size: 50px;
    font-family: mediumfont;
}

.aboutCommunityContent p a {
    color: var(--white);
}


/* =======about vartical slider=========== */

.aboutVerticalSliderBox .swiper {
    width: 100%;
    height: 100vh;
}

.aboutVerticalSliderBox .swiper-slide {
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.aboutVerticalSliderBox .swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
    right: 86%;
    top: 80%;
    transform: rotate(-90deg);
}

.aboutVerticalSliderBox .swiper-pagination-bullet {
    width: 22px !important;
    height: 22px !important;
    background-color: #D9D9D9 !important;
    opacity: 1;

}

.aboutVerticalSliderBox .swiper-pagination-bullet-active {
    background-color: var(--secondary) !important;
}

.aboutVerticalSliderContent {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.aboutVerticalSliderContent h2 {
    font-size: 60px;
    font-family: mediumfont;
}

.aboutVerticalSliderContent p {
    margin: 2rem 0;
    font-size: 20px;
    color: #000813;
}

.aboutVerticalSliderContentClick {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.aboutVerticalSliderContentClick a {
    color: var(--primary);
    font-size: 28px;
    font-family: mediumfont;
}

.aboutVerticalSliderContentClick img {
    margin-left: 10px;
}

.aboutVerticalSliderImg {
    display: flex;
    justify-content: flex-end;
}


/* ========end=========== */



@media (min-width: 319.98px) and (max-width: 379.98px) {
    .aboutHeaderText h2 {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .aboutCommunityBg {
        height: 400px;
    }

    .aboutCommunityContent h2 {
        font-size: 30px !important;
    }

    .aboutCommunityContent p {
        font-size: 24px !important;
    }

    .aboutVerticalSliderContent h2 {
        font-size: 26px;
        margin-top: 2rem;
    }

    .aboutVerticalSliderContent p {
        margin: 0 0;
    }

    .aboutVerticalSliderImg img {
        max-width: 180px;
    }

    .aboutVerticalSliderImg {
        justify-content: center;
    }

    .aboutVerticalSliderContent {
        text-align: center;
    }

    .aboutVerticalSliderContentClick a {
        font-size: 14px;
    }

    .aboutVerticalSliderContentClick img {
        max-width: 20px;
    }

    .aboutVerticalSliderBox .swiper-pagination-bullet {
        width: 10px !important;
        height: 10px !important;
    }

    .aboutVerticalSliderBox .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        right: 50%;
        top: 90%;
    }

    .aboutVerticalSliderContentClick {
        justify-content: center;
    }
}

@media (min-width: 380px) and (max-width: 424.98px) {
    .aboutHeaderText h2 {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .aboutCommunityBg {
        height: 400px;
    }

    .aboutCommunityContent h2 {
        font-size: 30px !important;
    }

    .aboutCommunityContent p {
        font-size: 24px !important;
    }

    .aboutVerticalSliderContent h2 {
        font-size: 26px;
        margin-top: 2rem;
    }

    .aboutVerticalSliderContent p {
        margin: 0 0;
    }

    .aboutVerticalSliderImg img {
        max-width: 180px;
    }

    .aboutVerticalSliderImg {
        justify-content: center;
    }

    .aboutVerticalSliderContent {
        text-align: center;
    }

    .aboutVerticalSliderContentClick a {
        font-size: 14px;
    }

    .aboutVerticalSliderContentClick img {
        max-width: 20px;
    }

    .aboutVerticalSliderBox .swiper-pagination-bullet {
        width: 10px !important;
        height: 10px !important;
    }

    .aboutVerticalSliderBox .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        right: 50%;
        top: 90%;
    }

    .aboutVerticalSliderContentClick {
        justify-content: center;
    }
}

@media (min-width: 425px) and (max-width: 575.98px) {
    .aboutHeaderText h2 {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .aboutCommunityBg {
        height: 400px;
    }

    .aboutCommunityContent h2 {
        font-size: 30px !important;
    }

    .aboutCommunityContent p {
        font-size: 24px !important;
    }

    .aboutVerticalSliderContent h2 {
        font-size: 26px;
        margin-top: 2rem;
    }

    .aboutVerticalSliderContent p {
        margin: 0 0;
    }

    .aboutVerticalSliderImg img {
        max-width: 180px;
    }

    .aboutVerticalSliderImg {
        justify-content: center;
    }

    .aboutVerticalSliderContent {
        text-align: center;
    }

    .aboutVerticalSliderContentClick a {
        font-size: 14px;
    }

    .aboutVerticalSliderContentClick img {
        max-width: 20px;
    }

    .aboutVerticalSliderBox .swiper-pagination-bullet {
        width: 10px !important;
        height: 10px !important;
    }

    .aboutVerticalSliderBox .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        right: 50%;
        top: 90%;
    }

    .aboutVerticalSliderContentClick {
        justify-content: center;
    }
}

@media (min-width: 576px) and (max-width: 768.98px) {
    .aboutHeaderText h2 {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .aboutCommunityBg {
        height: 400px;
    }

    .aboutCommunityContent h2 {
        font-size: 30px !important;
    }

    .aboutCommunityContent p {
        font-size: 24px !important;
    }

    .aboutVerticalSliderContent h2 {
        font-size: 26px;
        margin-top: 2rem;
    }

    .aboutVerticalSliderContent p {
        margin: 0 0;
    }

    .aboutVerticalSliderImg img {
        max-width: 180px;
    }

    .aboutVerticalSliderContentClick a {
        font-size: 14px;
    }

    .aboutVerticalSliderContentClick img {
        max-width: 20px;
    }

    .aboutVerticalSliderBox .swiper-pagination-bullet {
        width: 10px !important;
        height: 10px !important;
    }

    .aboutVerticalSliderBox .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        right: 50%;
        top: 80%;
    }

}

@media (min-width: 769px) and (max-width: 991.98px) {
    .aboutHeaderText h2 {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .aboutCommunityBg {
        height: 400px;
    }

    .aboutCommunityContent h2 {
        font-size: 30px !important;
    }

    .aboutCommunityContent p {
        font-size: 24px !important;
    }

    .aboutVerticalSliderContent h2 {
        font-size: 26px;
        margin-top: 2rem;
    }

    .aboutVerticalSliderContent p {
        margin: 0 0;
    }

    .aboutVerticalSliderImg img {
        max-width: 180px;
    }

    .aboutVerticalSliderContentClick a {
        font-size: 14px;
    }

    .aboutVerticalSliderContentClick img {
        max-width: 20px;
    }

    .aboutVerticalSliderBox .swiper-pagination-bullet {
        width: 10px !important;
        height: 10px !important;
    }

    .aboutVerticalSliderBox .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        right: 50%;
        top: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1023.98px) {
    .aboutHeaderText h2 {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .aboutCommunityBg {
        height: 400px;
    }

    .aboutCommunityContent h2 {
        font-size: 30px !important;
    }

    .aboutCommunityContent p {
        font-size: 24px !important;
    }

    .aboutVerticalSliderContent h2 {
        font-size: 26px;
        margin-top: 2rem;
    }

    .aboutVerticalSliderContent p {
        margin: 0 0;
    }

    .aboutVerticalSliderImg img {
        max-width: 180px;
    }

    .aboutVerticalSliderContentClick a {
        font-size: 14px;
    }

    .aboutVerticalSliderContentClick img {
        max-width: 20px;
    }

    .aboutVerticalSliderBox .swiper-pagination-bullet {
        width: 10px !important;
        height: 10px !important;
    }

    .aboutVerticalSliderBox .swiper-pagination-vertical.swiper-pagination-bullets,
    .swiper-vertical>.swiper-pagination-bullets {
        right: 50%;
        top: 80%;
    }
}

@media (min-width: 1024px) and (max-width: 1199.98px) {
    .aboutHeaderText h2 {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    .aboutCommunityBg {
        height: 400px;
    }

    .aboutCommunityContent h2 {
        font-size: 30px !important;
    }

    .aboutCommunityContent p {
        font-size: 30px !important;
    }
    .aboutVerticalSliderContent h2 {
        font-size: 30px;
        margin-top: 2rem;
    }
}

@media (min-width: 1200px) and (max-width: 1279.98px) {
    .aboutHeaderText h2 {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    .aboutCommunityBg {
        height: 400px;
    }

    .aboutCommunityContent h2 {
        font-size: 30px !important;
    }

    .aboutCommunityContent p {
        font-size: 30px !important;
    }
    .aboutVerticalSliderContent h2 {
        font-size: 30px;
        margin-top: 2rem;
    }
}

@media (min-width: 1280px) and (max-width: 1299.98px) {
    .aboutHeaderText h2 {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    .aboutCommunityBg {
        height: 400px;
    }

    .aboutCommunityContent h2 {
        font-size: 30px !important;
    }

    .aboutCommunityContent p {
        font-size: 30px !important;
    }
    .aboutVerticalSliderContent h2 {
        font-size: 30px;
        margin-top: 2rem;
    }
}

@media (min-width: 1300px) and (max-width: 1359.98px) {
    .aboutHeaderText h2 {
        font-size: 24px;
        line-height: normal;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    .aboutCommunityBg {
        height: 400px;
    }

    .aboutCommunityContent h2 {
        font-size: 30px !important;
    }

    .aboutCommunityContent p {
        font-size: 30px !important;
    }
    .aboutVerticalSliderContent h2 {
        font-size: 30px;
        margin-top: 2rem;
    }
}

@media (min-width: 1360px) and (max-width: 1439.98px) {
    .aboutHeaderText h2 {
        font-size: 50px;
        line-height: normal;
        margin-bottom: 1.5rem;
    }
    .aboutCommunityBg {
        height: 400px;
    }

    .aboutCommunityContent h2 {
        font-size: 30px !important;
    }

    .aboutCommunityContent p {
        font-size: 30px !important;
    }
    .aboutVerticalSliderContent h2 {
        font-size: 30px;
        margin-top: 2rem;
    }
}

@media (min-width: 1440px) and (max-width: 1536.98px) {}

@media (min-width: 1537px) and (max-width: 1920px) {}