.homeHeader {
    padding: 3rem 0;
    height: 100vh;
}

.homeHeader .container,
.homeHeader .row {
    height: 100%;
}

.homeHeaderBg {
    background-color: var(--bg-light);
    height: 90vh;
    padding: 2rem 3rem;
    border-radius: 20px;
}

.homeHeaderSliderBg {
    background-color: var(--bg-dark);
    height: 100%;
    padding: 2rem 0rem 2rem 0rem;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
.homeHeaderSliderBgVideo{
    position: absolute;
    top: 0;
}

.homeNavigation ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.homeNavigation ul li {
    font-size: 14px;
}

.homeNavigation ul li a {
    color: var(--text);
}

.homeHeaderContent h1 {
    font-size: 60px;
    font-family: extrabold;
    text-transform: capitalize;
}

.homeHeaderContent {
    padding-right: 4rem;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.homeHeaderContent p {
    margin: 2rem 0 3rem 0;
}

.homeHeaderBtn {
    display: flex;
}

.homeHeaderStorBtn {
    width: 200px;
    height: 70px;
    box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    background-color: var(--white);
    margin-right: 1.5rem;
    display: flex;
    align-items: center;
    padding: 10px;
}

.storeImg {
    margin-right: 10px;
}

.storeName span {
    font-size: 10px;
    text-transform: uppercase;
    color: var(--text);
}

.storeName p {
    margin: 0;
    font-family: mediumfont;
    font-size: 20px;
    text-transform: capitalize;
}
.headerSliderBox{
    height: 100%;
}

.headerSliderBox .swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.headerSliderBox .swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 45%;
}

.headerSliderBox .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headerSliderBox .swiper-pagination{
    text-align: left;
    padding-left: 2rem;
}
.headerSliderBox .swiper-pagination-bullet{
    background-color: transparent;
    border: 1px solid var(--white);
    width: 10px;
    height: 10px;
    opacity: 0.5;
}
.headerSliderBox .swiper-pagination-bullet-active{
    border: 3px solid var(--secondary);
    opacity: 1;
}
.headerSliderBox .swiper-button-prev, .headerSliderBox .swiper-button-next{
    top: 97%;
    z-index: 99;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--secondary);
}
.headerSliderBox .swiper-button-next{
    right: 2rem;
}
.headerSliderBox .swiper-button-prev{
    left: 78%;
}
.headerSliderBox .swiper-button-next::after{
    content: '';
    background-image: url(../../img/icons/arrow.png);
    width: 26px;
    height: 16px;
}
.headerSliderBox .swiper-button-prev::after{
    content: '';
    background-image: url(../../img/icons/arrow.png);
    width: 26px;
    height: 16px;
    transform: rotate(180deg);
}
.headerCopyright{
    margin-top: 1rem;
}
.headerCopyright ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}
.headerCopyright ul li{
    margin-right: 2rem;
    font-size: 14px;
    color: var(--text);
}
.headerCopyright ul li a{
    color: var(--text);
}